#bar {
  width: 100%;
  height: 30px;
  background: #eee;
  -webkit-app-region:drag;
}
.windowControl {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  cursor: pointer;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.windowContro:hover {
  opacity: 0.7;
  cursor: pointer;
}
#close-btn {
  background: #F44336;
}
#min-btn {
  background: #FFC107;
}
#max-btn {
  background: #8BC34A;
}


#searchBar {
  position: absolute;
  top: 50px;
  display:block;
  width: 400px;
  font-size: 1.3em;
  border-radius: 3px;
  padding: 10px;
  left: 50%;
  margin-left: -200px;
  border: solid 1px #eee;
  outline: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
