@import 'palette';
body {
  background: white;
}
#bar {
  width: 100%;
  height: 30px;
  background: $primary;
  -webkit-app-region:drag;
}
.windowControl {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  cursor: pointer;
  float: left;
  margin-top: 12px;
  margin-left: 10px;
  -webkit-app-region: no-drag;
}

.windowContro:hover {
  opacity: 0.7;
  cursor: pointer;
}
#close-btn {
  background: $red;
}
#min-btn {
  background: $amber;
}
#max-btn {
  background: $green;
}

#refresh, #back, #forward {
  float: right;
  height: 25px;
  width: 25px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

#newTab {
  float: left;
  display: table;
  -webkit-app-region: no-drag;
  cursor: pointer;
  width: 30px;
  height: 20px;
  border-radius: 3px;
  border: solid 1px #aaa;
  margin-left: 12px;
  margin-top: 3px;
  -webkit-transform: skew(25deg);
  background: #d0d0d0;
}

#tabs {
  float: left;
  width: calc( 100% - 150px);
  height: 30px;
}

#newTab:hover {
  opacity: 0.6;
}
#newTab img {
  height: 20px;
  width: 20px;
}

.tab:first-of-type {
  margin-left: 20px;
}

.tab {

  color: black;
  border: solid 1px $secondary;
  padding: 5px;
  float:left;
  width: 10%;
  min-width: 10px;
  overflow: hidden;
  height: 18px;
  padding-right: 5px;
  -webkit-app-region: no-drag;

  .title {
    display: block;
    float: left;
    width: calc( 100% - 40px );
    word-break: break-all;
    padding-left: 10px
  }

  .favicon, .close, .spinner {
    height: 15px;
  }

  .favicon, .spinner {
    float: left;
    display: block;
  }

  .close {
    float: right;
    margin-top: 1px;
    transition: ease all 0.3s;
    color: black;
    border-radius: 50%;
  }

  .close:hover{
    background: $red;

    color: white !important;
  }

}



#searchBar {
  position: absolute;
  top: 50px;
  display:block;
  width: 400px;
  font-size: 1.3em;
  border-radius: 3px;
  padding: 10px;
  left: 50%;
  margin-left: -200px;
  border: solid 1px #eee;
  outline: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.webView {
  display:inline-flex;
  width:100%;
  height:calc( 100% - 26px);
  margin-top: 4px;
}


// Tab loader spinner

$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite,
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}
